* {
    padding: 0;
    margin: 0;
}
.navbar {
    background: #a8a1a1;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #00ff90;
    text-decoration: none;
}

.blocoIndex {
    margin-left:20px;
    margin-bottom: 20px;
}

.bloco {
    width: 400px;
    margin: 0 auto;
}

.bloco h3 {
    margin: 10px 0;
}

h2 {
    text-align: center;
    margin: 10px;
}