@model IEnumerable<Carro.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de veiculos</h2>


<div id="divVeiculo"></div>

<script>
        CarregarVeiculos()

    function CarregarVeiculos() {
        $.get("/Home/ListarVeiculos", function (data) {
            $("#divVeiculo").html(data)
        })
    }
    
</script>