@model IEnumerable<Carro.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de veiculos</h2>


<div class="blocoIndex">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Combustivel</th>
            <th>Cor</th>
            <th>Botão</th>
        </tr>

        @foreach (var veiculo in Model)
        {
            <tr>
                <td>@veiculo.Id</td>
                <td>@veiculo.Marca</td>
                <td>@(veiculo.CombustivelId > 0 ? veiculo.Combustivel.Nome : "")</td>
                <td>@veiculo.Cor.Nome</td>
                 
                <td> <a href="/home/Veiculo/@veiculo.Id">Details</a></td>
            </tr>
        }
    </table>
</div>
<div id="divVeiculo">

</div>

<script>
    $.ajax({
        url: "/Home/ListarVeiculos",
        method: "get",
        success: function (data) {
            $("#divVeiculo").html(data)
        }
    })
</script>