@model IEnumerable<Carro.Models.VeiculoOcorrencia>

@{
    Layout = null;
}
<table>
    <tr>
        <th>Veiculo</th>
        <th>Obs</th>
        <th>Data</th>
    </tr>

    @foreach (var ocorrencia in Model)
    {
        <tr>
            <td>@ocorrencia.Obs</td>
            <td>@ocorrencia.Data</td>
        </tr>
    }
</table>
